nav {
  position: fixed;
  background-color: var(--black);
  top: 0px;
  left: 0px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 120;
}

nav ul li:hover {
  background-color: var(--gray1);
}

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white);
}

.main {
  margin-top: 120px;
}

body {
  background: var(--purple);
  color: var(--white);
}

@media (max-width: 411px) {
  nav ul li {
    width: 100%;
  }

  .main {
    margin-top: 220px;
  }
}

@media (min-width: 410px) and (max-width: 1023px) {
  body {
    background: var(--orange);
    color: var(--black);
  }
}

@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}
